<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&family=Open+Sans&family=Sanchez&display=swap" rel="stylesheet">
</head>
<body>

<div id="logo-container">
    <div id="text-container">
      <h1>GTA Real Estate</h1>

      <h2>YOLO REALITY</h2>
    </div>
    </div>
    <h3>Properties for Rent</h3>
    <label class="form-label">Search Filter </label>
    <input type="text" id="search" placeholder="filters" class="form-control">
    <ul id="filters">
Bed
  <li><a href="#">1</a></li>
  <li><a href="#">1+</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">2+</a></li>
  <li><a href="#">3</a></li>
Bath
  <li><a href="#">1</a></li>
  <li><a href="#">1+</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">2+</a></li>
</ul>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Locations
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" type="checkbox" href="#">Burlington</a></li>
    <li><a class="dropdown-item" type="checkbox" href="#">Hamilton</a></li>
    <li><a class="dropdown-item" type="checkbox" href="#">London</a></li>
    <li><a class="dropdown-item" type="checkbox" href="#">Oakville</a></li>
    <li><a class="dropdown-item" type="checkbox" href="#">Toronto</a></li>
  </ul>
</div>
 <div class="container">
    <div class="row" id="img-gallery">
        <div class="col-md-4">
            <img src="https://media.istockphoto.com/id/949087660/photo/fountain-at-complex-of-apartment-residential-buildings-quarter.jpg?s=612x612&w=0&k=20&c=PZRDszGRmGaM8YR-4GUGoYnYjpplLvKb6TSENjrRuwQ=" alt="" class="img-thumbnail">
        </div>
        <div class="col-md-4">
            <img src="https://st2.depositphotos.com/1658611/10598/i/600/depositphotos_105989652-stock-photo-suburban-apartment-building.jpg" alt="" class="img-thumbnail">
        </div>
        <div class="col-md-4">
            <img src="https://media.istockphoto.com/id/1273552068/photo/exterior-view-of-modern-apartment-building.jpg?s=612x612&w=0&k=20&c=Gk9XeJIBPJvbWzY4MrW7E3eeJJmy-iggBwMBcjewrLg=" alt="" class="img-thumbnail">
        </div>
        <div class="col-md-4">
            <img src="https://thumbs.dreamstime.com/b/luxury-inviting-view-toronto-down-town-area-residential-condo-stylish-modern-buildings-ontario-canada-june-beautiful-tower-98403313.jpg" alt="" class="img-thumbnail">
        </div>
        <div class="col-md-4">
            <img src="https://media.istockphoto.com/id/1361546459/photo/new-aprtment-building-in-a-housing-deveopment-on-a-sunny-autumn-day.jpg?b=1&s=170667a&w=0&k=20&c=6G9vvT-Hm011u9enMbIEwoKMOpLSsnXEuonORiBOENo=" alt="" class="img-thumbnail">
        </div>
        <div class="col-md-4">
            <img src="https://media.istockphoto.com/id/1361546459/photo/new-aprtment-building-in-a-housing-deveopment-on-a-sunny-autumn-day.jpg?b=1&s=170667a&w=0&k=20&c=6G9vvT-Hm011u9enMbIEwoKMOpLSsnXEuonORiBOENo=" alt="" class="img-thumbnail">
        </div>
        <div class="col-md-4">
            <img src="https://thumbs.dreamstime.com/b/apartment-building-modern-richmond-british-columbia-canada-32036648.jpg" alt="" class="img-thumbnail">
        </div>
        <div class="col-md-4">
            <img src="" alt="" class="img-thumbnail">
        </div>
        <div class="col-md-4">
            <img src="" alt="" class="img-thumbnail">
        </div>
       
   
 </div>

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>