{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <h2>Would you like to log out?</h2>
    <div class="btn-group">
        <a href="/" class="btn btn-warning me-3">No</a>
        <form action="" method="">
            <input type="submit" class="btn btn-danger"
            value="Yes"
        </form>
    </div>
</div>
{% endblock %}